*{
	margin: 0;
	padding: 0;
}
.container{
	width: 1100px;
	height: 400px;
	margin: 0 auto;
}
.top{
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.top .top_left{
	color: #bd60e7;
	font-weight: bold;
	margin-left: 20px;
}
.top .top_right{
	font-weight: bold;
	margin-right: 20px;
}
.down{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text{
	width: 80%;
	text-align: center;
}
.text button{
	margin-top: 20px;
}
button{
	background-color: #351c75;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	width: 130px;
	border-radius: 5px;
	height: 35px;
}
button:hover{
	background-color: #bd60e7;
}
.sub{
	width: 80%;
}
.sub h1{
	text-align: left;
}
.sub button{
	margin-top: 5px;
	text-align: left;
	text-indent: 15px;
}

.showkey{
	height: 50px;
}
.key{
	margin-top: 10px;
	border-top: 2px solid #999999;
}
.btn{
	background-color: #351c75;
	cursor: pointer;
	outline: none;
	border: none;
	color: #fff;
	width: 80px;
	border-radius: 5px;
	height: 35px;
}
.last p{
	width: 50%;
	margin: 8px 0px;
	height: 30px;
	border-radius: 5px;
	line-height: 30px;
	background-color: #d9d3e9;
}